<div class="main">
  <div class="inner">
     <div class="bg-video-wrap">
         <video class="video" muted autoplay loop>
      <source src="http://nowte.net/public/movie.mp4" type="video/mp4">
    </video>
    <div class="overlay">
    <div class="form-wrappers">
      <h1>Sign In</h1>
        <%# 「モデル名」にはUserモデルであれば@userを渡しましょう。%>
        <%# 「ログイン機能へのパス」は、devise導入後にrails routesを実行してdevise/sessions#createへのパスを確認し、記載してください。 %>
        <%= form_with model: @user, url: user_session_path, local: true do |f| %>

        <div class="form-item">

          <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "Email" %>
        </div>

        <div class="form-item">
          <%= f.password_field :password, autocomplete: "current-password", :placeholder => "Password(6文字以上)" %>
        </div>

        <div class="button-panel">
          <%= f.submit "Sign In", class: :button_panel  %>
        </div>
      <% end %>
    </div>
  </div>
</div>