<form class="form-wrappers" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSc60XjseRCz5CO6-UrhnJ27LmtOrsVLjTvVwpU2xOSW7K4heg/formResponse">

  <h1>実績報告Form</h1>

    <!-- 報告者 テキスト入力 -->
  <div class="form-item">
    <input type="text" id="userName" name="entry.1138729588" required="required"  placeholder="報告者名">
  </div>
  <!--//END 報告者 テキスト入力 -->
  <!-- 報告エリア セレクトボックス -->
  <div class="form-subject">
    <select name="entry.1944188670" id="contactType" >
      <option>エリアを選択</option>
      <option data-value="北海道" value="北海道">北海道</option>
      <option data-value="東北"  value="東北">東北</option>
      <option data-value="関東"  value="関東">関東</option>
      <option data-value="東海"  value="東海">東海</option>
      <option data-value="関西"  value="関西">関西</option>
      <option data-value="山陽"  value="山陽">山陽</option>
      <option data-value="山陰"  value="山陰">山陰</option>
      <option data-value="九州"  value="九州">九州</option>
      <option data-value="法人"  value="法人">法人</option>
    </select>
  </div>
  <!--//End 報告エリア セレクトボックス -->
  
  <!-- 所属 セレクトボックス -->
  <div class="form-subject">
    <select name="entry.447025623" id="contactType" >
      <option>所属店舗を選択</option>
      <option data-value="A"      value="A">A</option>
      <option data-value="B"      value="B">B</option>
      <option data-value="C"      value="C">C</option>
      <option data-value="D"      value="D">D</option>
      <option data-value="E"      value="E">E</option>
      <option data-value="F"      value="F">F</option>
      <option data-value="G"      value="G">G</option>
      <option data-value="H"      value="H">H</option>
      <option data-value="I"      value="I">I</option>
      <option data-value="J"      value="J">J</option>
      <option data-value="Event"  value="Event">Event</option>
      <option data-value="法人"    value="法人">法人</option>
    </select>
  </div>
  <!--//End 所属 セレクトボックス -->

  <!-- 売上 テキスト入力 -->
  <div class="form-item">
    <input type="number" id="sales" name="entry.1588099151" required="required"  placeholder="売上">
  </div>
  <!--//End 売上 テキスト入力 -->

  <!-- 新規契約数 テキスト入力 -->
  <div class="form-item">
    <input type="number" id="newSales" name="entry.337170707" required="required"  placeholder="新規契約数">
  </div>
  <!--//End 新規契約数 テキスト入力 -->

  <!-- 既存契約数 テキスト入力 -->
  <div class="form-item">
    <input type="number" id="existingSales" name="entry.237049975" required="required"  placeholder="既存契約数">
  </div>
  <!--//End 既存契約数 テキスト入力 -->

  <!-- 見込み登録件数 テキスト入力 -->
  <div class="form-item">
    <input type="number" id="prospect" name="entry.801687865" required="required"  placeholder="見込み登録件数">
  </div>
  <!--//End 見込み登録件数 テキスト入力 -->

  <!-- 日報 テキスト入力 -->
  <div class="form-control">
    <textarea type="text" id="content" name="entry.1442096477"  required="required"  placeholder="本日の報告"></textarea>
  </div>
  <!--//End 日報 テキスト入力 -->

  <!-- 送信 -->
  <div class="button_panel">
    <input type="submit" value="Send Message" class="button_panel">
  </div>
  <!--//End 送信 -->
</form>